<div class="container">
  <footer class="footer">
    <small>
    Copyright &copy; <a href="https://www.regulationasia.com">RegWire</a>
    by <a href="http://www.inasiamedia.com">inAsia Media Ltd.</a>
    </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %>
          </li>
        </ul>
      </nav>
  </footer>
</div>
